doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/wall.css')
    script(type='text/javascript', src='/jquery.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body
    div.container.global
        div.row
            div.col-sm-4-offset-1
                img(src='/img/layout/banBriqueGLOmbre.png')
        div.row.zoneCentral
            div.col-sm-14#content

    script(src='controllers.js')
    //script(src='2dViews.js')

